.profile_pic {
  border-radius: 50%;
  width: 5em;
  height: 5em;
}

form {
  display: flex;
  flex-direction: column;
}
/* 
button.text-like :link {
  background: none;
  border: none;
} */
/* 
button {
  padding: 0;
  border: none;
  background: none;
} */